@use "sass:math";

@mixin circle($diameter, $color) {
	position: absolute;
	width: $diameter;
	height: $diameter;
	background-color: $color;
	border-radius: 50%;
}

@mixin move($diameter) {
	$i: random($limit: 4);
	$j : $i + random(300);
	@debug $j;

	@if $i ==1 {
		@include keyframes(kf-#{$j}){
			$edge: 40rem - $diameter;
			0% {
				inset: 0 $edge $edge 0;
			}
	
			25% {
				inset: 0 0 $edge $edge;
			}

			50% {
				inset: $edge 0 0 $edge;
			}

			75% {
				inset: $edge $edge 0 0;
			}
	
			100% {
				inset: 0 $edge $edge 0;
			}
		}
		animation: kf-#{$j} 4s ease infinite;
	}

	@else if $i ==2 {
		@include keyframes(kf-#{$j}){
			0% {
				transform: scale(1);
			}
	
			50% {
				transform: scale(2);
			}
	
			100% {
				transform: scale(1);
			}
		}
		animation: kf-#{$j} 1s ease infinite;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}

	@else if $i ==3 {
		@include keyframes(kf-#{$j}){
			0% {
				left: 40%;
			}
	
			50% {
				left: 60%;
			}
	
			100% {
				left: 40%;
			}
		}
		animation: kf-#{$j} 0.25s ease infinite;
		top: 30%;
	}

	@else {
		@include keyframes(kf-#{$j}){
			0% {
				bottom: 0;
				left: $diameter * -1;
			}
	
			50% {
				left: 50%;
				rotate: 180deg;
				bottom: 0;
			}
	
			100% {
				left: 100%;
				rotate: 360deg;
				bottom: 0;
			}
		}
		animation: kf-#{$j} 6s ease infinite;
		border: $diameter solid black;
		width: 0;
		height: 0;
		border-right-color: transparent;
		background-color: transparent;
	}
}

@mixin keyframes ($name) {
	@keyframes #{$name} {
		@content;
	}
}