form {
	background-color: rgba(202 67 0 / 1);
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
	color: rgba(255 255 255 / 1);
	display: grid;
	grid-template-columns: minmax(0, 30%) minmax(0, 70%);
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
	max-width: 30rem;
	align-items: center;
}

form input,
form textarea {
	border: none;
	background-color: rgba(255 255 255 / 0.1);
	border-bottom: 1px solid rgba(255 255 255 / 0.2);
	outline: none;
	padding: 0.5rem 0.4rem;
	font-size: .9rem;
	transition: border-color 300ms ease;
	color:rgba(255 255 255 / 1);
}

form textarea {
	min-height: 10rem;
}

form input:focus,
form textarea:focus {
	border-color: rgba(255 255 255 / 1);
}