@use "foundation";
@use "fonts";
@use "vars";
@use "sass:color";
@use "mixins";

:root {
	font-family: "Poppins", sans-serif;
}

body {
	@include mixins.bg-with-text(vars.$bg-clr, vars.$txt-clr);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: calc(5% - 2rem);
}

a {
	color: vars.$accent-secondary;
	text-decoration: none;
	transition: color 300ms ease;

	&:hover,
	&:focus {
		color: color.complement(vars.$accent-secondary);
	}
}

header {
	background-color: vars.$accent-dark;
	padding: 2rem 2%;

	img {
		@include mixins.rounded-corners(16px, 8px, 4px, 2px);
	}
}

nav {

	ul {
		list-style: none;
		margin-left: 0;
	}

	a {
		@extend a;
		display: block;
		padding: 3% 0;
		font-size: 1.3rem;
	}
}

#social-icons {
	text-align: center;
}

$icons: instagram, web, facebook;
$i: 1;
@each $icon in $icons {
	.icon-#{$icon}{
		font-size: 1rem + $i * 0.4rem;
	}
	$i: $i + 1;
}

main {
	padding: 2rem;

	p,
	li {
		max-width: 60ch;
	}
}

h1 {
	color: vars.$accent-primary;
}

.article-heading {
	@include mixins.bg-with-text(vars.$accent-primary, vars.$accent-dark);
	margin: 2rem 0 1rem;
	display: inline-block;
	padding: 0.4% 2%;
	@include mixins.rounded-corners(0, 10px);
	font-size: 1.3rem;
}

main article:first-of-type .article-heading {
	margin-top: 0;
}

p+p {
	margin-top: 1rem;
}

$form-bg: rgba(255 255 255 / 0.5);

form {
	background-color: $form-bg;
	padding: 7%;
	border-radius: 10px;
	position: relative;
	max-width: 30rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 1.5rem;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: color.adjust($form-bg, $alpha: -0.35);
		transform: rotate(-5deg);
		border-radius: 10px;
		z-index: -1;
	}

	input,
	textarea {
		color: vars.$txt-clr;
		background: color.adjust($form-bg, $alpha: -0.2);
		padding: 1rem 1.5rem;
		border-radius: 10px;
		transition: background 300ms ease;

		&:focus {
			color: vars.$accent-dark;
			background-color: #fff;
		}
	}

	textarea {
		min-height: 10rem;
		resize: vertical;
	}

	button {
		background: vars.$accent-dark;
		color: vars.$txt-clr;
		padding: 1rem;
		border-radius: 10px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		transition: color 300ms ease;

		&:hover {
			color: vars.$accent-primary;
			cursor: pointer;
		}
	}
}